@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

* {
  border-radius: 5px;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
}
button {
  vertical-align: middle;
  line-height: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.title {
  font-size: 40px;
}
.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.top-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
}

.top-row .timer {
  font-size: 30px;
  color: gray;
}
.top-row .live-score {
  font-size: 30px;
  color: rgb(163, 8, 8);
  transition: 0.3s;
}
.current-word {
  margin-top: 100px;
  font-size: 25px;
  font-weight: bold;
}
.word-input {
  max-width: 800px;
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 25px;
  border: none;
  border-bottom: 2px solid gray;
  transition: 0.3s;
  padding: 5px 20px 5px 20px;
}
.input-cont {
  margin-top: -250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.input-cont input:focus {
  border-bottom: 2px solid black;
}
.added {
  color: green !important;
}
.score-added {
  scale: 1.1;
  color: red !important;
}

.main-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-div {
  width: 80%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 50px;
  flex-direction: column;
  animation: ease-in 2s slide-in;
}
.main-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.main-div button {
  width: auto;
  height: 50px;
  border: 3px solid black;
  cursor: pointer;
  padding: 10px;
  font-size: 30px;
  transition: 0.3s;
  margin-bottom: 50px;
}
.main-div button:hover {
  background-color: rgb(190, 189, 189);
}

.noPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.noPage button,
.result-div button {
  width: 300px;
  border: 2px solid black;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  padding: 15px;
}
button {
  background-color: white;
}
.noPage button:hover,
.result-div button:hover {
  background-color: rgb(189, 186, 186);
}

.result-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid black;
  padding: 50px;
  width: 80%;
  max-width: 800px;
  gap: 50px;
}

@keyframes slide-in {
  0% {
    scale: 0;
    transform: trnaslateY(-100px);
    rotate: -180deg;
  }
  100% {
    scale: 1;
    transform: trnaslateY(0);
    rotate: 0;
  }
}
.info-div {
  width: 100px;
  justify-content: center;
  align-items: center;
}

.leaderboard-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderboard-cont {
  width: 80%;
  padding: 50px 0;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.leaderboard-cont h2 {
  font-size: 35px;
}
.leaderboard-users {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leaderboard-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
}

.leaderboard-cont button {
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  font-size: 30px;
  transition: 0.3s;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
}
.leaderboard-cont button:hover {
  background-color: rgb(189, 186, 186);
}

.noPage input {
  width: 300px;
  height: 35px;
  font-size: 25px;
  border: 1px solid black;
  outline: none;
  padding: 5px;
}

@media (max-width: 553px) {
  .main-div,
  .result-div {
    padding: 20px;
  }
  .result-div button,
  .main-div button {
    /* width: 90%;
    font-size: 20px;
    line-height: 20px; */
  }
}
@media (max-width: 718px) {
  h1 {
    font-size: 20px !important;
  }
  .top-row p {
    font-size: 20px !important;
  }
}
@media (max-width: 618px) {
  input {
    width: 80% !important;
    font-size: 18px !important;
  }
}
@media (max-width: 950px) {
  .leaderboard-cont button {
    margin-top: 30px;
    width: 200px;
  }
  .leaderboard-cont h2 {
    margin-top: 20px;
  }
  section {
    padding: 20px;
  }
}

.footer {
  position: absolute;
  bottom: 20px;
  color: gray;
  line-height: 23px;
}
.name {
  color: red;
}
.jort {
  color: rgb(2, 2, 63);
}
